{% load static %}  

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>Binance investment</title>
    <style>
        .table-hover tbody tr:hover td {
            background: yellow;
        }        
        .br-black {
            border-right-width: 2px !important;
            border-right-color: black !important;
        }
        .bb-none {
            border-bottom-color: white !important;
        }
        .bl-none {
            border-left-width: 0px !important;
        }
        .br-none {
            border-right-width: 0px !important;
        }
    </style>
</head>
<body>
<div class="container py-2">
    <!-- Profit table -->
    {% include "investmentapp/profit.html" %}
    <!---->
    <hr>
    <!-- Interest table -->
    {% include "investmentapp/interest.html" %}
    <!---->
    <hr>
    <!-- Earn table -->
    {% include "investmentapp/earn.html" %}
    <!-- -->
</div>

</body>