{% load static %}  

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>Binance investment</title>
    <style>
        .table-hover tbody tr:hover td {
            background: yellow;
        }        
        .br-black {
            border-right-width: 2px !important;
            border-right-color: black !important;
        }
        .bb-none {
            border-bottom-color: white !important;
        }
        .bl-none {
            border-left-width: 0px !important;
        }
        .br-none {
            border-right-width: 0px !important;
        }
    </style>
</head>
<body>
<div class="container pt-2">
    <table class="table caption-top table-striped table-hover table-sm table-bordered text-center bb-none">
        <caption>Coins interests</caption>
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Invest</th>
                <th scope="col">Now</th>
                <th scope="col">Interest</th>
            </tr>
        </thead>
        <tbody>
            {% for coin, datas in coins_datas %}
                <tr>
                    <td>{{ coin }}</td>
                    <td>{{ datas.invest_coin_amount }}</td>
                    <td>{{ datas.present_coin_amount }}</td>
                    <td class="{%if datas.interest_coin_usd_amount > 20 %}text-success{% endif %}">{{ datas.interest_coin_amount }} -> {{ datas.interest_coin_usd_amount }} $</td>
                </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="bl-none br-none"></td>
                <td class="bl-none br-none"></td>
                <td class="bl-none br-none"></td>
                <td class="bl-none br-none">{{ total.coin_usd_interest }} $</td>
            </tr>
        </tfoot>
    </table>
    <p>if coin interest > 20$ -> half interest reinvested (add in Reinvest half coin quantity for 0 $) | half interest solded (add in InterestEarned half coin quantity for earned amount in $)</p>
    <hr>
    <table class="table caption-top table-striped table-hover table-sm table-bordered text-center bb-none">
        <caption>Invest profit</caption>
        <thead>
            <tr>
                <th colspan="3" class="br-black">Price</th>
                <th colspan="4">Invest values</th>
            </tr>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Buy</th>
                <th scope="col" class="br-black">Last</th>
                <th scope="col">Buy</th>
                <th scope="col">Last</th>
                <th scope="col" class="br-none">Profit</th>
                <th scope="col" class="bl-none"></th>
            </tr>
        </thead>
        <tbody>
            {% for coin, datas in coins_datas %}
                <tr>
                    <td>{{ coin }}</td>
                    <td>{{ datas.buy_price_usd }} $</td>
                    <td class="br-black">{{ datas.last_price_usd }} $</td>
                    <td>{{ datas.buy_invest_usd_amount }} $</td>
                    <td>{{ datas.present_invest_usd_amount }} $</td>
                    <td class="br-none">{{ datas.profit_usd_amount }} $</td>
                    <td class="bl-none">
                        {% if datas.percent_profit_usd > 0 %}
                            <small class="text-success">+{{ datas.percent_profit_usd }}%</small>
                        {% elif datas.percent_profit_usd < 0 %}
                            <small class="text-danger">{{ datas.percent_profit_usd }}%</small>
                        {% else %}
                            <small>{{ datas.percent_profit_usd }}%</small>
                        {%endif%}
                    </td>
                </tr>
            {%endfor%}
        </tbody>
        <tfoot>
            <tr>
                <td class="bl-none br-none"></td>
                <td class="bl-none br-none"></td>
                <td class="bl-none br-none"></td>
                <td class="bl-none">{{ total.buy_invest_usd }} $</td>
                <td>{{ total.present_invest_usd }} $</td>
                <td class="br-none">{{ total.profit_usd }} $</td>
                <td class="bl-none br-none">
                    {% if total.percent_profit_usd > 0 %}
                        <small class="text-success">+{{ total.percent_profit_usd }}%</small>
                    {% elif total.percent_profit_usd < 0 %}
                        <small class="text-danger">{{ total.percent_profit_usd }}%</small>
                    {% else %}
                        <small>{{ total.percent_profit_usd }}%</small>
                    {%endif%}
                </td>
            </tr>
        </tfoot>
    </table>
    <p>if invest profit > 100% -> earn 2/3 of profit (add in ProfitEarned coin quantity for 2/3 of profit at last price)</p>
</div>

</body>