<table class="table caption-top table-striped table-hover table-sm table-bordered text-center bb-none">
    <caption>Staking interests</caption>
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Invest</th>
            <th scope="col" class="br-none">Now</th>
            <th scope="col" class="bl-none"></th>
            <th scope="col">Interest</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for coin, datas in interests %}
            <tr>
                <td>{{ coin }}</td>
                <td>{{ datas.invest_coin_amount }}</td>
                <td class="br-none">{{ datas.present_coin_amount }}</td>
                <td class="bl-none"><small class="text-success">+{{ datas.percent_interest_coin }}%</small></td>
                <td class="{%if datas.interest_coin_usd_amount > 15 %}bg-success{% endif %}">{{ datas.interest_coin_amount }} -> {{ datas.interest_coin_usd_amount }} $</td>
                <td><small class="text-success">{{ datas.sell_interest_to_earn }}</small></td>
            </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        <tr>
            <td class="bl-none br-none"></td>
            <td class="bl-none br-none"></td>
            <td class="bl-none br-none"></td>
            <td class="bl-none br-none"></td>
            <td class="bl-none br-none">{{ total.coin_usd_interest }} $</td>
            <td class="bl-none br-none"></td>
        </tr>
    </tfoot>
</table>
<p>if coin interest > 15$ -> 1/3 interest reinvested (add in Reinvestment 1/3 of interest coin quantity) | 2/3 of interest solded (add in InterestEarned earned amount in $ for 2/3 of interest coin quantity solded)</p>
